.resto-card-head {
  margin: 10px 0px;
  font-family: 'Gilroy-Light', sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: rgba(2, 6, 12, 0.92);
}
.filter-sort{
  margin: 2rem 0rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.filter-sort li{
  margin: 0rem 1rem;
}
.resto-filter-btn {
  color: rgba(2, 6, 12, 0.75);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 18px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(226, 226, 231);
  padding: 8px 12px;
  width: auto;
  box-shadow: rgba(2, 6, 12, 0.04) 0px 2px 12px;
  transition: background-color 0.1s ease-in 0s, border-color 0.1s ease-in 0s, box-shadow 0.1s ease-in 0s, width 0.2s cubic-bezier(0.65, 0, 0.35, 1) 0s;
}

.Bhoverboxrow {
  display: flex;
  flex-wrap: wrap;
}

.Bhoverboxrow>div {
  padding: 1rem;
}

#Bhoverbox .card {
  border: solid 1px #C9C9C9;
  border-radius: 4px 4px 4px 64px;
  overflow: hidden;
  width: 100%;
}

#Bhoverbox .card:hover .IconHoverRapper {
  background-color: #6e61c0;
  color: #fff;
  transition: all ease 0.5s;
}

#Bhoverbox .card-body {
  padding: 1.5rem !important;
}

#Bhoverbox .card-body h3 {
  font-size: 22px;
  font-family: inter;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  width: 75%;
}

#Bhoverbox .card-body .card-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #4F4B4B;
}

#Bhoverbox .card:hover img {
  filter: brightness(0) invert(1);
  transition: all ease 0.5s;

}

.IconHoverRapper {
  position: absolute;
  top: -65px;
  right: -65px;
  height: 165px;
  width: 165px;
  border-radius: 230px;
  background-color: #FAF9FF;
  overflow: hidden;
}

#Bhoverbox ul {
  list-style-type: square;
  color: #4F4B4B;
  width: 75%;
}

#Bhoverbox ul li::marker {
  color: #FF4040;
  font-size: 22px;
}

.IconHoverImg {
  position: absolute;
  left: 35px;
  bottom: 30px;
}



.grid1 {
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
  grid-gap: 25px;
}

.card1 {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
  background: #ededed;
}



.card__image {
  max-width: 100%;
  transition: all 0.3s ease-out;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.card__data {
  transition: all 0.3s ease-out 0.1s;
  height: auto;
  padding: 20px;
  border-radius: 0;
  margin-bottom: 0;
}


.card__info {
  margin-bottom: 10px;
}

.card__info h2 {
  font-size: 22px;
  font-weight: 800;
}

.card__info p {
  font-size: 16px;
  line-height: 22px;
  color: #a2a2a2;
}

.card__action {
  display: grid;
  grid-template: 30px / 1fr 35px;
}

.card__price {
  line-height: 24px;
  padding: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.card__add {
  overflow: hidden;
  width: 35px;
  height: 30px;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: #222222;
  border: none;
  color: #fff;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in;
}

.card__add:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.card__add:active {
  opacity: 1;
  transform: scale(0.8);
}

.card1:hover .card__data {
  transform: translateY(-5px);
}

.card1:hover {
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.1);
}


@media (max-width:999px) {
  .BhoverboxrowMain {
    width: 50%;

  }

  #Bhoverbox ul {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .BhoverboxrowMain {
    width: 100%;
    padding: 1rem 0rem;

  }
}